*{
  box-sizing: border-box;
}

body{
  min-height: 200vh;
}

.page-header{
  padding: 15px 15px;
  position: fixed;
  background-color: lime;
  right: 0;
  left: 0;
  top: 0;
  height: 75px;
  box-shadow: 6px 6px 8px 0px rgba(31, 3, 75, 0.7);
}

.list{
  font-size: 0;
  text-align: center;
}

.list-item{
  display: inline-block;
  border: 1px solid black;
  font-size: 20px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
}

.list-item:hover{
  background-color: orange;
  color: white;
  transition-property: all;
  transition-duration: 1s;
}

.list-item::after{
  content: "";
  display: block;
  height: 0px;
  width: 0%;
  background-color: #000;
  position: absolute;
  top: calc(100% + 3px);
  transition: width 2s ease-in-out,
              height 1.5s ease-in-out;
}

.list-item:hover::after{
  height: 3px;
  width: calc(100% + 2px);
}

.link{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 20px;
}

.list-item + .list-item{
  margin-left: 10px;
}

main{
  padding-top: 85px;

}

.item{
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 20px;
}

.item:hover{
  width: 0%;
}

.linear{
  transition: width 2s linear;
}

.ease{
  transition: width 2s ease;
}

.ease-in{
  transition: width 2s ease-in;
}

.ease-out{
  transition: 2s width ease-out;
}

.ease-in-out{
  transition: width 2s ease-in-out;
}